sudo: false
language: ruby
rvm:
  - 2.2.10
  - 2.3.7
  - 2.4.4
  - 2.5.1
gemfile:
  - gemfiles/rspec_33x.gemfile
  - gemfiles/rspec_34x.gemfile
  - gemfiles/rspec_35x.gemfile
  - gemfiles/rspec_36x.gemfile
  - gemfiles/rspec_37x.gemfile
  - gemfiles/rspec_38x.gemfile
branches:
  only:
    - master
before_install:
  - gem uninstall -v '>= 2' -i $(rvm gemdir)@global -ax bundler || true
  - gem install bundler -v '< 2'
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - bundle exec rspec spec
  - rubocop
after_script:
  - |
    if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
      ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT;
    fi

